.loginpage{
    height: 97.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv{
  height: 80vh;
  width: 35vw;
  border: 1px solid #dadce0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.maindiv .signin {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
}
.maindiv .use {
  margin-top: 10px;
  font-weight: lighter;
}

.maindiv .forgot {
  width: 94%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.maindiv .guest {
  width: 94%;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: lighter;
}
.maindiv .buttonContainder {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.maindiv .forgot, .guest span , .createbutton{
  color: #4285f4;
}
.maindiv img {
  max-width: 115px;
} 
  