/* .container{
  height: 90vh;
  width: 55vw;
  border: 1px solid #dadce0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 300px;
  margin-top: 30px;
} */
.left{
	padding: 2rem;
	flex-basis: 60%;
}
.right{
	flex-basis: 40%;
}
.right img{
	width: 50%;
	margin: 11rem 2.7rem;
}
.left img{
	width: 30%;
}
.right p{
	text-align: center;
	margin: -11rem 0.4rem;
	color: black;
	width: 70%;
	font-size: medium;
} 
.container h3{
	color: #2d3436;
	margin: 2rem 0;
}
.container .left p{
	color: gray;
	width: 100%;
	font-size: 0.8rem;
	margin-left: 3%;
}

.container .right p{
	color: gray;
	width: 80%;
	font-size: 1rem;
	margin-left: 3%;
}

.container a{
	text-decoration: none;
	font-weight: 500;
	font-size: 1rem;
	color: #3498db;
	margin-left: 2%;
}
.bottom-link{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.5rem;
}