.takenote2{
 width: 582px;
 height: 120px;
 margin: 32px auto 57px auto;
 background: #fff;
 padding: 7px;
 border-radius: 7px;
 box-shadow: 0 1px 7px rgb(128, 128, 128);
 position: relative;
 top:3px;
 left: 46px;
}
.takenote2 input{
 width: 98%;
 border: none;
 margin: 4px 10px;
 margin-bottom: 20px;
 font-size: 1rem;
 outline: none;
}
.takenote2 .note{
    font-size: 13.5px;
    margin-bottom: 52px;
}