.HeaderBar{
    margin-top: -8.6px;
    width: 100vw;
    height: 9.6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.5px solid lightgray;
}
.HeaderBar img{
    margin-top: 4px;
    margin-left: 9px;
    height:42px;
    width: 40px;
}
.HeaderBar h1{
    font-size:21px;
    margin-left: 8px;
    margin-top: 15px;
    color: rgb(102, 101, 101);
    font-family: sans-serif;
}
