.App{
    display: flex;
    flex-direction:column;
    text-align: center;
    width: 30vw;
    height: 80vh;
    border: 1px solid rgb(180, 176, 176);
}
img {
    max-width: 100px;
    max-height: 50px;
}